@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    background-color: white;
    

}

#logo {
    display:inline-block;
    position:fixed;
    padding-top: 5%;
    padding-left: 5%;
    height: 120px;
    width: 120px;
   background: none;


}

#title {
    position: relative;
    display: inline-block;
    border: none;
    background: none;
    text-decoration: none;
    padding-left: 15%;
    padding-top: 2%;
    font-size: 72px;
    font-family: 'Oswald', sans-serif;
}

#farmhouse {
    position: relative;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    padding-left: 5%;
    font-size: 100px;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 15%;
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: flex;
  }
  
  li {
    float: left;
    position: relative;
    display: flex;
  }


  li a {
      background-color: #333;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    display: flex;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #e33448;
  }